.container[data-v-6aef71] {
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  text-align: left;
}
.heading[data-v-6aef71] {
  color: #0260ee;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 9px;
}
.users[data-v-6aef71] {
  background-color: #ffffff;
  border-collapse: collapse;
}
.users__headings[data-v-6aef71] {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
  line-height: normal;
}
.users__row[data-v-6aef71] {
  font-size: 18px;
  line-height: normal;
}
.users__heading[data-v-6aef71] {
  padding: 10px;
  text-align: left;
}
.users__cell[data-v-6aef71] {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.pagination[data-v-6aef71] {
  align-items: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pagination__button[data-v-6aef71] {
  background-color: #0260ee;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  letter-spacing: 1px;
  padding: 10px;
  text-transform: uppercase;
}
.pagination__button[data-v-6aef71]:disabled {
  background-color: rgba(0, 0, 0, 0.5);
}
.pagination__counter[data-v-6aef71] {
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
}